@import '../../../shared/ui/shared.scss';

.storeBalance-wrapper {
	display: flex;
	align-items: center;
    justify-content: center;

	min-width: 30px;
	height: 36px;
    padding: 0 6px 0 8px;

	border-radius: 6px;

	background-color: $primary-color;
	color: white;
}
