.auth-form {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	width: 80%;
}

.auth-wrapper {
	height: 50vh;
	margin: auto;
	margin-top: 60%;
	text-align: center;
}

p {
	font-size: 130px;
}
