@import '../../../shared/ui/shared.scss';

.task-wrapper {
	&-active {
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		width: 100%;
		height: 5vh;

		border-radius: 25px;
		border: 1px solid #68c60a;
		box-shadow: 0 0 20px #68c60a;

		padding-left: 4%;
	}

	&-done {
		display: flex;
		flex-direction: row;

		width: 100%;
		height: 5vh;

		border-radius: 25px;

		border: 1px solid $primary-color;
		box-shadow: 0 0 20px $primary-color;
		box-sizing: border-box;

		text-decoration: line-through;

		padding-left: 4%;
	}
}

@mixin taskBorder($color) {
	border: 4px solid $color;
}

.task-title {
	width: 90%;
	font-size: 60px;
}

.task-decline-btn {
	font-size: 60px;
	border-radius: 20px;
	border: none;
	background-color: $background-color;
}
