@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


.html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto Mono', monospace;
}

input,
button {
	font-family: 'Roboto Mono', monospace;
}


$width:768px;

@mixin mobile {
    @media(max-width: #{$width}){
        @content
    }
}

