.menu-button-content-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;

	&-img {
        width: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: center;

        font-size: 32;
        font-weight: 500;
	}
}

.service-list-wrapper {
    margin-top: 24px;

	display: flex;
	flex-direction: column;
	justify-content: start;

	gap: 28px;
}
