.store-header {
	margin-top: 60px;
    display: flex;
    justify-content: space-between;

    &-item {
        display: flex;
        align-items: center;
        gap: 18px;

        &-arrow {
            position: relative;
            top: 4px;
        }

        &-balance {
            position: relative;
            top: 2px;
        }

        &-cart {
            position: relative;
            top: 5px
        }
    }
}