$primary-color: #6c33ff;
$text-color: #1c0221;
$background-color: white;
$accent-color-red: #ff2e00;
$accent-color-orange: #fea82f;

// .page-wrapper {
// 	margin-inline: 4%;
// }

.primary-input {
	box-sizing: border-box;
	border: 2px solid $text-color;
	color: $text-color;

	height: 48px;
	width: 100%;
	border-radius: 12px;
    padding-left: 18px;

	font-size: 20px;

	&:focus {
		border-color: $primary-color;
		outline: none;
	}
}

.primary-button {
	background-color: $primary-color;
	color: $background-color;

	border: 0px;
	border-radius: 12px;
	height: 48px;
	width: 100%;
	font-size: 20px;
	box-sizing: border-box;

	&:active {
		background-color: $background-color;
		color: $primary-color;
		border: 2px solid $primary-color;
	}
}

// .primary-svg {
// 	&:focus {
// 		fill: #8e61ff;
// 	}
// }

.primary-title {
	font-size: 40px;
	font-weight: 500;
    margin: 0;
    color: $text-color;
}
